name: Generate OpenAPI

on:
  pull_request:
    branches: [ main ]

jobs:
  generate-openapi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build project
        run: mvn clean package -DskipTests

      - name: Run app in background
        run: |
          mvn spring-boot:run &
          sleep 25

      - name: Generate OpenAPI YAML
        run: |
          curl http://localhost:8080/v3/api-docs.yaml -o generated.yaml

      - name: Show diff
        run: |
          diff openapi.yaml generated.yaml || true
